
$color-base: #41280c;
$color-boton: rgb(167, 138, 101);
$color-boton-hover: burlywood;
$overlay: rgba(255, 255, 255, 0.35);

$font-principal: 'Cormorant Garamond', serif;
$font-secundaria: 'Georgia', serif;

$bp-mobile: 390px;     
$bp-tablet: 768px;     
$bp-desktop: 1024px;   
$bp-laptop: 1440px;    
$bp-big: 1920px;       

